<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778873352342-rcgno6clfntpnssk6t960ok1j6771tt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778873352342-rcgno6clfntpnssk6t960ok1j6771tt8</string>
	<key>API_KEY</key>
	<string>AIzaSyBHKFY8WawVI2l0vinEF97lrSMGR4SHYTw</string>
	<key>GCM_SENDER_ID</key>
	<string>778873352342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dart</string>
	<key>PROJECT_ID</key>
	<string>malnutrition-30e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>malnutrition-30e3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778873352342:ios:2b9ce99a8e45ab8cea52b7</string>
</dict>
</plist>